$brow: linear-gradient(158.71deg, rgba(106, 55, 40, 0.45) 19.37%, rgba(106, 55, 40, 0) 41.55%);
$blue:#4BACFF;
$Grblue:linear-gradient(99.97deg, #4BACFF -8.13%, #00FFEB 124.57%);
$GRred:linear-gradient(270deg, #FF4B4B 0%, #80267D 100%);
$grey:#FAFAFA;
$backgaund:#E0E0E0;
.wrap{
  width: 1600px;
}